.photopfp {
  width: 12%;
  border-radius: 50%;
  margin: 10px;
}

.profileHeader{
    display: flex ;
     align-items: center;
     justify-content: center;
  gap: 12px;
}
.pfpcontent{

     display: flex ;
     align-items: center;
     gap: 12px;
}
.pfphead{
   display: flex;
    margin-left: 20px;
    flex-direction: column; 
    align-items: flex-start;
    
}

.down {
  margin-top: 50px; 
  padding-top: 0; 
}
.btn{
     justify-content: center;
     width: 100%;
     margin-top: 30px; 
}
.up {
  width: 50%;          /* adjust this value */
  margin: 0 auto;      /* center horizontally */
        /* align items side by side */
  align-items: center; /* vertically center */
  justify-content: center; /* optional */
  
}
