
.sider {
  overflow: auto;
  height: 100vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  background-color: white; 
}

.content-box {
  padding: 0;
  min-height: calc(100vh - 50px);
  text-align: center;
  border-radius: 8px; 
}

.body{
   background-color: #121212; /* dark background */
  color: #ffffff;            /* white text */
  margin: 0;
  font-family: Arial, sans-serif;
}
