
.sider {
  overflow: auto;
  height: 100vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  background-color: white; 
}

.content-box {
  padding: 0;
  min-height: calc(100vh - 50px);
  text-align: center;
  border-radius: 8px; 
}


.ant-menu-item:nth-child(1) {
  margin-bottom: 150px; /* extra space after Messages */
}
.ant-menu-item:nth-child(9) {
  margin-top: 150px; /* extra space after Messages */
}
.ant-menu-item .anticon {
  margin-right: 5px; /* space between icon and text */
}
